
h1 {
	color: #38495b;
}
body {
	background-color: #ffcbcb
}

ul{
    list-style-type: none;
    background-color:#ffcbcb;
    overflow: hidden;
}
li a{
	float: left;
	display: block;
	width: 70px;
	background-color: #fff4bc;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none;
}
li a:hover{
	background-color:#fffae0;
}
active{
	border-bottom: 2px solid :#38495b;
}
 #fff4bc