
h1 {
	color: #38495b;
}
body {
	background-color: #ffcbcb
}

ul{
    list-style-type: none;
    background-color:#fff4bc;
    overflow: hidden;
}
li a{
	float: left;
	display: block;
	width: 70px;
	background-color: #fff4bc;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none;
	border: 1px solid #000000;
}
li a:hover{
	background-color:#fffae0;
}
active{
	border-bottom: 2px solid :#38495b;
}


 .container {
 	position: relative;
 	max-width: 100%;
 	overflow: hidden;
 	color: #000000;
 }

 .container img{
 	width: 100%;
 	display: block;
 	height: auto;
 }

 .overlay {
 	position: absolute;
 	top:300px;
 	left: 440px	;
 	width: 10%;
 	height: 10%;
 	background-color: #ffa2a2;

 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
 	text-align: center;
 	padding: 20px;
 }
